@use "colours";
@use "mixins";

div#site {
    @include mixins.centre-content;
    flex-wrap: wrap;
    height: fit-content;
    width: 100vw;
    background-color: colours.$site-background;
}

header {
    @include mixins.centre-content;
    height: 80px;
    width: 100vw;
    background-color: colours.$header-background;
}

main {
    @include mixins.centre-content;
    flex-wrap: wrap;
    height: fit-content;
    width: 80vw;
    background-color: colours.$main-background;
}