@use "colours";
@use "mixins";

div#site {
    @include mixins.centre-content;
    flex-wrap: wrap;
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    min-width: 125px;
    background-color: colours.$site-background;
}

header {
    height: 110px;
    width: 100vw;
}

main {
    min-height: calc(100vh - 110px);
    height: fit-content;
    width: 100vw;
}