@use "mixins";
@use "sizes";
@use "colours";

#root {
    @include mixins.centre-content;
    flex-wrap: wrap;

    width: 100vw;
    height: fit-content;
    min-height: 100vh;

    background-color: colours.$site-background;
}