@use "mixins";
@use "sizes";

#attention {
    @include mixins.new-section-in-parent;
    @include mixins.centre-content;
}

#attention .cloud-video video {
    max-width: 100%;
    max-height: sizes.$section-height-large;
}

#attention .cloud-photo img {
    @include mixins.centre-content;
    height: 100%;
    max-width: 100%;
    max-height: sizes.$section-height-large;
}