@use "mixins";
@use "sizes";
@use "colours";

#footer {
    @include mixins.width-height-match-parent;
    @include mixins.centre-content-column;
    background-color: colours.$footer-background;
}

#footer h2 {
    @include mixins.text-spacer;
    text-align: center;
    color: colours.$title-secondary;
    font-size: sizes.$font-secondary;
}