@use "sizes";

#listen-now {
    width: 100%;
    margin: 20px 0;
}

#listen-now .song-card {
    margin: 0 0 20px 0;
}

#album-focus {
    width: 100%;
    height: sizes.$section-height-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#album-focus-song-cards {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -50%;
    z-index: 2;
}

#album-focus .cloud-photo {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#album-focus .cloud-photo img {
    width: 100%;
    pointer-events: none;
}

@media (max-width: sizes.$mobile-max-width) {
    #listen-now {
        min-width: 100px;
    }
}

@media (min-width: sizes.$mobile-max-width) {
    #listen-now {
        display:flex;
        justify-content: space-evenly;
    }
}
