@use "mixins";
@use "sizes";

#listen-now {
    @include mixins.new-section-in-parent;
}

#album-focus {
    @include mixins.centre-content-column;

    width: 100%;
    height: auto;
    max-height: sizes.$section-height-large;

    overflow: hidden;
}

#album-focus-song-cards {
    @include mixins.centre-content;

    width: 100%;
    height: 0px;

    position: relative;
    top: -50%;
}

#album-focus .cloud-photo {
    @include mixins.width-height-match-parent;
    @include mixins.centre-content;
    pointer-events: none;
}

#album-focus .cloud-photo img {
    pointer-events: none;
    width:100%;
}

@media (max-width: sizes.$mobile-max-width) {
    #listen-now .song-card {
        margin: 0 0 sizes.$height-space 0;
    }

    #listen-now .song-card:last-child {
        margin: 0;
    }
}

@media (min-width: sizes.$mobile-max-width) {
    #listen-now {
        display: flex;
        justify-content: space-evenly;
    }
}
