@use "mixins";
@use "sizes";
@use "colours";

div.logo {
    @include mixins.centre-content;
    width: calc(140px * sizes.$logo-mobile-scale);
    height: calc(60px * sizes.$logo-mobile-scale);
    overflow: hidden;
}

.svg-logo {
    width: 140px;
    height: 100px;
    translate: 0 calc(-20px * sizes.$logo-mobile-scale);
    transform: scale(sizes.$logo-mobile-scale);
}

.logo-letter {
    fill: colours.$logo-fill;
    animation: fade 6s infinite ease-out;
}

.logo-knife {  
    transform: rotate(80deg);
    animation: fade 6s infinite ease-out, stab 6s infinite;
}

@keyframes fade {
    0%,100% { opacity: 0.5 }
    50% { opacity: 1 }
}

@keyframes stab {
    0%,100% { translate: 120px -40px }
    90% { translate: 170px -50px }
}

@media (min-width: sizes.$mobile-max-width) {
    div.logo {
        width: calc(140px * sizes.$logo-tablet-scale);
        height: calc(60px * sizes.$logo-tablet-scale);
    }

    .svg-logo {
        translate: 0 calc(-20px * sizes.$logo-tablet-scale);
        transform: scale(sizes.$logo-tablet-scale);
    }
}

@media (min-width: sizes.$tablet-max-width) {
    div.logo {
        width: calc(140px * sizes.$logo-monitor-scale);
        height: calc(60px * sizes.$logo-monitor-scale);
    }

    .svg-logo {
        translate: 0 calc(-20px * sizes.$logo-monitor-scale);
        transform: scale(sizes.$logo-monitor-scale);
    }
}