@use "colours";

div.logo {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 140px;
    height: 80px;
}

svg#logo {
    display: flex;
    translate: 0 -20px;
    width: 140px;
    height: 100px;
}

.logo-letter {
    fill: colours.$logo-fill;
    animation: fade 6s infinite ease-out;
}

.logo-knife {  
    transform: rotate(80deg);
    animation: fade 6s infinite ease-out, stab 6s infinite;
}

@keyframes fade {
    0%,100% { opacity: 0.5 }
    50% { opacity: 1 }
}

@keyframes stab {
    0%,100% { translate: 120px -40px }
    90% { translate: 170px -50px }
}