@use "mixins";
@use "sizes";
@use "colours";

#navbar {
    @include mixins.content-spacer;
    @include mixins.centre-content;
    
    width: 100vw;

    font-size: sizes.$font-secondary;
    color: colours.$title-secondary;
}

#navbar h1 {
    display: flex;  
    font-size: sizes.$title-secondary;
}

@media (max-width: sizes.$mobile-max-width) {
    #navbar {
        display: none;
    }
}