@use "mixins";
@use "sizes";
@use "colours";

.news {
    @include mixins.new-section-in-parent;
    max-width: sizes.$tablet-max-width;
    background-color: colours.$news-background;
}

.news h1 {
    @include mixins.content-spacer;
    @include mixins.text-spacer;
    font-size: sizes.$title-primary;
    color: colours.$title-primary;
    background-color: colours.$header-background;
}

.news p {
    @include mixins.text-spacer;
    font-size: sizes.$font-secondary;
    color: colours.$font-secondary;
}

.news article {
    font-size: sizes.$font-primary;
    color: colours.$font-primary;
}

.news img {
    @include mixins.text-spacer;
    width: calc(100% - sizes.$width-space * 2);
}

.news h2 {
    @include mixins.content-spacer;
    @include mixins.text-spacer;
    font-size: sizes.$title-secondary;
    color: colours.$title-secondary;
    background-color: colours.$header-background;
}