@use "screen-size";
@use "colours";

#news {
    max-width: screen-size.$mobile-max-width;
    min-width: 100px;
    width: 100%;
    background-color: turquoise;
}

#news h1 {
    color: colours.$title-primary;
}

#news article {
    color: colours.$font-primary;
    background-color: pink;
}

#news img {
    width: 100%;
    background-color: yellow;
}

#news h2 {
    color: colours.$font-secondary;
    background-color: green;
}