@use "sizes";
@use "colours";

#song-card-wide {
    height: 160px;
    width: 100%;
    display: flex;
    background-color: colours.$song-card-background;
}

#song-card-wide #song-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#song-card-wide #controls {
    height: 40px;
}

#song-card-wide #artwork {
    width: 160px;
    overflow: hidden;
}

#song-card-wide #artwork img {
   height: 160px;
}

#song-card-wide h4, #song-card-wide h5 {
    padding: 5px;
}

#song-card-wide h4 {
    color: colours.$title-primary;
    font-size: 20px;
}

#song-card-wide h5 {
    color: colours.$title-secondary;
    font-size: 16px;
}

@media (max-width: sizes.$mobile-min-width) {
    #song-card-wide #artwork {    
        display: none;
    }
}