@use "sizes";
@use "colours";

// All song cards

.song-card {
    display: flex;
    background-color: colours.$song-card-background;
}

.song-card #hmi {
    width: 75%;
}

.song-card #controls {
    width: 100%;
}

.song-card #artwork {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.song-card .cloudinary-advanced-video {
    width: 100%;
    height: 100%;
}

.song-card h4, .song-card h5 {
    padding: 5px;
}

.song-card h4 {
    color: colours.$title-primary;
    font-size: calc(sizes.$font-primary);
}

.song-card h5 {
    color: colours.$title-secondary;
    font-size: sizes.$font-secondary;
}

// song card wide

#song-card-wide {
    height: 160px;
    width: 100%;
    max-width: sizes.$mobile-max-width;
}

#song-card-wide #song-info {
    height: 120px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#song-card-wide #artwork {
    width: 160px;
    overflow: hidden;
}

#song-card-wide #artwork img {
   height: 160px;
}

@media (max-width: sizes.$mobile-min-width) {
    #song-card-wide #artwork {    
        display: none;
    }

    .song-card #hmi {
    width: 100%;
}
}

// song card thin

#song-card-thin {
    width: 30%;
    height: fit-content;
    max-height: 40vw;
    max-width: sizes.$tablet-max-width;
    flex-direction: column;
    justify-content: space-around;
}

#song-card-thin #song-info {
    height: fit-content;
}

#song-card-thin #artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#song-card-thin #artwork img {  
   height: 100%;
   max-height: 20vh;
}

#song-card-wide #controls, #song-card-thin #controls {
    height: 40px;
}

// song card basic

#song-card-basic {
    width: 30%;
    max-width: 400px;
    height: fit-content;
    max-height: 40vw;
    flex-direction: column;
}

#song-card-basic #song-info {
    height: fit-content;
    padding: 20px;
}

#song-card-basic #controls .cloudinary-advanced-video {
    height: 40px;
    transform: scaleY(1.1);
}